<div class="home_container d-flex justify-content-center align-items-center">
  <h1>Task Details</h1>
  <p class="p-2">
    <strong>Title:</strong>
    <%= @task.title %>
  </p>
  <p class="p-2">
    <strong>Content:</strong>
    <%= @task.content %>
  </p>
  <p class="p-2">
    <strong>Priority:</strong>
    <%= @task.priority %>
  </p>
  <p class="p-2">
    <strong>Status:</strong>
    <%= @task.status %>
  </p>
  <p class="p-2">
    <strong>Start Time:</strong>
    <%= @task.start_time ? @task.start_time.strftime("%Y-%m-%d %H:%M:%S") : 'N/A' %>
  </p>
  <p class="p-2">
    <strong>End Time:</strong>
    <%= @task.end_time ? @task.end_time.strftime("%Y-%m-%d %H:%M:%S") : 'N/A' %>
  </p>
  <div class="p-2">
    <strong>Tags:</strong>
    <% @task.tags.each do |tag| %>
      <div><%= tag.name %></div>
    <% end %>
  </div>
  <%= link_to 'Edit', edit_user_task_path(@user, @task), class: 'btn btn-primary' %>
  <%= link_to 'Back', user_path(@user), class: 'btn btn-secondary' %>
  <%= link_to 'Delete', user_task_path(@user, @task), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
</div>
