<div class="home_container d-flex justify-content-center align-items-center">
  <%= render 'shared/navbar' %>
  <%= render 'shared/searchlist' %>
  <div class="todolist_container">
    <%= turbo_frame_tag 'tasks' do %>
      <%= render 'shared/tasklist' %>
    <% end %>
  </div>
  <% flash.each do |type, msg| %>
    <script>alert("<%= msg %>")</script>
    <p><%= msg %></p>
  <% end %>
</div>
