<div class="sort-container d-flex justify-content-center m-2">
  <%= form_with url: user_path, method: :get, local: true, data: { turbo_frame: 'tasks' }, class: 'd-flex justify-content-center' do %>
    <%= select_tag :status, options_for_select(%w'pending progress done', params[:status]), include_blank: 'All', class: 'form-select m-1', onchange: 'this.form.submit();' %>
    <%= select_tag :sort_by, options_for_select(%w'created_at start_time end_time priority', params[:sort_by]), class: 'form-select m-1', onchange: 'this.form.submit();' %>
    <%= select_tag :tag, options_for_select(@tags, params[:tag]), class: 'form-select m-1', include_blank: 'All', onchange: 'this.form.submit();' %>
    <%= text_field_tag :title, params[:title], placeholder: 'Search by title', class: 'form-control', onchange: 'this.form.submit();' %>
  <% end %>
</div>
